PORT=3004
JWT_SECRET=your_jwt_secret_here
RABBITMQ_URL=amqp://guest:guest@localhost:5672
JITSI_APP_ID=your_jitsi_app_id_here
JITSI_APP_SECRET=your_jitsi_app_secret_here
JITSI_DOMAIN=meet.jit.si
APPOINTMENT_SERVICE_URL=http://localhost:3003
